

*, *::after, *::before{
    box-sizing: border-box;
}

.header{
    display: block;
}

.header{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: red;
    position: absolute;
    z-index: 1000;
    padding-top: 30px;
}

body{
    font-size: 15px;
    color: #333;
    font-family: 'Montserrat',sans-serif;
}
.container{
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: auto;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    
}

.nav{
    text-transform: uppercase;
    font-size: 14px;
    
}


.nav__link{
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}


.nav__link.active:after{
    opacity: 1;
}

.page{
    overflow: hidden;
}
.intro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: url(../assasins/images/landscape-view-mountains-covered-snow-autumn-trees.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    min-height: 800px;
}

.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

























































